/* Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Montserrat:wght@300;400;600&display=swap'); 
/* 
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
*/

/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #202020
}
.general{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    flex-direction: column;
    width: 90%;
}

/* Menu bar */
.container > nav{
    display: inline-flex;
    align-items: center;
    height: 65px;
    padding: 10px;
    margin: 25px 0;
    width: 100%;
    justify-content: space-between;
}

.container > nav .menu-bar,
.container > nav > button,
.container .central{
    margin: 10px 0;
    padding: 10px;
}

/* Button */
.container > nav button{
    font: 14px 'Lora', serif;
    background-color: #202020;
    color:#fff;
    border: 1px solid #fff;
    height: 40px;
    width: 125px;
    cursor: pointer;
    text-align: center;
}

/* Items */
.container > nav .menu-bar > .list{
    display: inline-flex;
    width: 475px;
    justify-content: space-between;
}

.container > nav .menu-bar > .list .items{
    list-style: none;
    font: bold 15px 'Montserrat', sans-serif;
    cursor: pointer;
    color: #fefefe
}

/* Efect hover*/
.container > nav .menu-bar > .list .items:hover{
    border-bottom: 3px solid #fefefe;
}

.general .container nav{
    margin-bottom: 80px;
}
/* Central */
.general .container .central{
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* Description */
.container .central > .description{
    width: 40%;
}

/* Title */
.container .central > .description > .title{
    font: bold 35px 'Lora', serif;
}

/* Description */
.container .central > .description .text-description{
    font: 23px 'Montserrat', sans-serif;
    overflow: hidden;
    width: 75%;
}

.container .central > .description > .title,
.container .central > .description .text-description,
.container .central > .description .boton{
    color: #fefefe;
    margin: 25px 0;
}

.container .central > .description .boton{
    border: none;
    background-color: #202020;
    font: 18px 'Montserrat', sans-serif;
    cursor: pointer;
}

.container .central > .description .boton,
.container .central > .description > .title{
    line-height: 60px;
}

/* Image */
.container .central .img-living{ 
    width: 60%;
}   

.container .central .img-living > .img{
    width: 100%;
}

/* Card */
.container .card-profile{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    margin: -85px 40px
}


.container .card {
    flex-direction: column;     
    width: 360px;
    height: 150px;
    border: none;
    background-color: #202020;
}

.container .card > .title-box{
    flex-direction: row;
    display: flex;
}

.container .card > .title-box .img-card .profile{
    width: 60px;
    border-radius: 55px;
}

.container .card > .title-box .img-card .profile,
.container .card > .title-box .text-card,
.container .card .textHelp{
    margin-left: 25px;
}

.container .card > .title-box .text-card .name,
.container .card > .title-box .text-card .descrip-profile,
.container .card .textHelp{
    color: #fefefe;
    font: 15px 'Montserrat', sans-serif;
    line-height: 25px;
}

.container .card .textHelp{
    display: flex;
    width: 75%;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
}

/* Footer*/

.container-footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 150px;
    color: #fefefe;
    font: 15px 'Monserrat', sans-serif;
}